[mysqld]
general_log = 0
general_log_file = /var/lib/mysql/general.log
log_error = /var/lib/mysql/error.log

# Configuración de rendimiento
max_connections = 100
key_buffer_size = 16M
max_allowed_packet = 64M
table_open_cache = 64
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M

# Charset y collation
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
